.container {
  background: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
}

.load {
  font-size: 30px;
  width: 1000px;
  height: 36px;
  margin-left: -300px;
  overflow: visible;
  user-select: none;
  cursor: default;
}

.load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  transform: rotate(180deg);
  color: #35c4f0;
}

.load div:nth-child(1) {
  animation-delay: 0.2s;
}
.load div:nth-child(2) {
  animation-delay: 0.4s;
}
.load div:nth-child(3) {
  animation-delay: 0.6s;
}
.load div:nth-child(4) {
  animation-delay: 0.8s;
}
.load div:nth-child(5) {
  animation-delay: 1.0s;
}
.load div:nth-child(6) {
  animation-delay: 1.2s;
}
.load div:nth-child(7) {
  animation-delay: 1.4s;
}
.load div:nth-child(8) {
  animation-delay: 1.6s;
}
.load div:nth-child(9) {
  animation-delay: 1.8s;
}
.load div:nth-child(10) {
  animation-delay: 2.0s;
}
.load div:nth-child(11) {
  animation-delay: 2.2s;
}
.load div:nth-child(12) {
  animation-delay: 2.4s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 30%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 50%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 80%;
    transform: rotate(-180deg);
    opacity: 0;
  }
  
}